/* här skrivs style detta är css */
html{
	font-family: Arial;
}

body{
	margin: 0;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* grid container */
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: aside; }
.item5 { grid-area: footer; }

.grid-container {
  	display: grid;
  	grid-template-areas:
    	'header header header header header header'
		'menu main main main main aside'
		'menu main main main main aside'
    	'menu footer footer footer footer footer';
	grid-gap: 8px;
	background-color: rgb(60, 109, 58);
	padding: 10px;
	grid-template-columns: 150px auto auto auto auto 20%;
}

main, nav, header, aside, footer{
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px 0;
}


/* styling for main */
main{
	padding: 10px 10px;
}

main h2{
	font-size: 25px;
	margin: 0;
}

main p{
	font-size: 17px;
	margin: 5px 0;
}

/* styling for aside */
aside{
	padding: 10px;
}

aside img{
	height: auto;
	width: 100%;
}

/* styling for header */
header{
	text-align: center;
	padding: 6px;
}

header h1{
	font-size: 30px;
}

/* styling for Navegation bar*/
nav{
	background-color: rgb(85, 85, 85);
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li a{
	background-color: rgb(85, 85, 85);
	text-decoration: none;
	font-size: 25px;
	color:rgb(233, 233, 233);
	text-align: center;
	width: 100%;
	display: block;
	padding: 4px 0;
}

nav li a:hover:not(.active){
	background-color: rgb(53, 53, 53);
}

nav li a.active{
	background: linear-gradient(rgb(36, 73, 129),rgb(52, 136, 192))
}

/* Footer */

footer{
	padding: 0;
}

footer p{
	padding: 20px;
	margin: 0;
	font-size: 18px;
}


/* grid container responsiv */
@media only screen and (max-width: 700px){
	.grid-container{
		grid-template-areas:
		'header header header header header'
		'menu main main main main'
		'menu main main main main'
		'menu aside aside aside aside'
		'menu footer footer footer footer';
		grid-template-columns: 150px auto auto auto auto;
	}
	aside img{
		width: 48%;
	}
}

@media only screen and (max-width: 400px){
	.grid-container{
		grid-template-areas:
		'header'
		'menu'
		'main'
		'aside'
		'footer';
		grid-template-columns: auto;
	}
	aside img{
		width: 100%;
	}
}

